{% extends 'base.html' %}

{% block title %}Breed{% endblock %}

{% block content %}

<div class="container">    
    {% for i in data %}
    <h2>{{ i['name'] }}</h2>
    <br>
    <img src="{{ i['image_link'] }}">
    <br><br>
    <div class="key">
        <h5><b>Key:</b>  0 = Never/Least - 3 = Sometimes/Some - 5 = Always/Most</h5>
    </div>
    <br><br>
    <b>Good with children:</b> {{ i['good_with_children'] }}
    <br>
    <b>Good with other dogs:</b> {{ i['good_with_other_dogs'] }}
    <br>
    <b>Barking:</b> {{ i['barking'] }}
    <br>
    <b>Shedding:</b> {{ i['shedding'] }}
    <br>
    <b>Coat Length:</b> {{ i['coat_length']}}
    <br>
    <b>Grooming:</b> {{ i['grooming'] }}
    <br>
    <b>Drooling:</b> {{ i['drooling'] }}
    <br>
    <b>Energy:</b> {{ i['energy'] }}
    <br>
    <b>Trainability:</b> {{ i['trainability'] }}
    <br>
    <b>Protectiveness:</b> {{ i['protectiveness'] }}
    <br>
    <b>Maximum life expectancy:</b> {{ i['max_life_expectancy'] }} years
    <br>
    <b>Maximum height (male):</b> {{ i['max_height_male'] }} inches
    <br>
    <b>Maximum height (female):</b> {{ i['max_height_female'] }} inches
    <br>
    <b>Maximum weight (male):</b> {{ i['max_weight_male'] }} lbs
    <br>
    <b>Maximum weight (female):</b> {{ i['max_weight_female'] }} lbs
    <br><br>
    <hr>
    <br><br>
    
    {% endfor %} 


{% endblock %}     